body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  ul{
    text-align: center;
}

  ul li {
  list-style: none;
  position: relative;
  padding: 3px 0 2px 25px;
  background-color: #373a3f;
  font-size: large;
  display: block;
}

.todo button{
    background-color:#CF0000;
    color:white;
    border-radius: 100%;
    text-align: center;
    float:right;
}

.todo button:hover{
    background-color:#7C0000; 
}
#checkcomplete{
    float:right;
}


